.button { display: flex; align-items: center; justify-content: center;
	&--primary { min-width: 165px; min-height: 56px; padding: 15px 20px; background-color: $brand-green; color: $white; text-align: center; text-transform: uppercase; font-size: 22px; line-height: 1.09; letter-spacing: 2px; font-family: $fontA; box-shadow: 0 4px 8px 0 rgba($black, 0.08); border-radius: 5px;
		&:hover { color: $white; background-color: darken($brand-green, 5%); }

		@include breakpoint(tablet2) { min-width: 92px; min-height: 53px; font-size: 18px; line-height: normal; }
	}

	&--width-1 { min-width: 263px; }
}