.section {
	> .com_card-slider {
		@include breakpoint(tablet2) {
			&:last-child { margin-bottom: -8px; }
		}
	}
}

.com_card-slider { display: none; position: relative; width: 100%; overflow: hidden;
	.slider-wrapper { }

	> ul, .list { position: relative;
		> li { position: relative; top: 0; left: 0; min-width: 247px; padding: 4px;
			img { display: block; width: auto; height: 150px; }
		}
	}

	&.slider-active { display: block; user-select: none;
		.list {
			> li { position: absolute;
				&:after { z-index: 3; content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
			}
		}
	}
}