$folder: 'fonts';

// include all imported fonts here even google fonts
@charset 'utf-8';
/** font face **/
.font-a { font-family: 'BebasNeue', 'Helvetica', 'Calibri'; }
@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),  url('../fonts/BebasNeue.otf')  format('opentype'),
	     url('../fonts/BebasNeue.woff') format('woff'), url('../fonts/BebasNeue.ttf')  format('truetype'), url('../fonts/BebasNeue.svg#BebasNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-b { font-family: 'LibreBaskerville', 'Helvetica', 'Calibri'; }
@font-face {
  font-family: 'LibreBaskerville';
  src: url('../fonts/LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/LibreBaskerville-Regular.otf')  format('opentype'),
	     url('../fonts/LibreBaskerville-Regular.woff') format('woff'), url('../fonts/LibreBaskerville-Regular.ttf')  format('truetype'), url('../fonts/LibreBaskerville-Regular.svg#LibreBaskerville-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LibreBaskerville';
  src: url('../fonts/LibreBaskerville-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/LibreBaskerville-Bold.otf')  format('opentype'),
	     url('../fonts/LibreBaskerville-Bold.woff') format('woff'), url('../fonts/LibreBaskerville-Bold.ttf')  format('truetype'), url('../fonts/LibreBaskerville-Bold.svg#LibreBaskerville-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/** font face **/
