// ionclude all your related style here in the footer, you can leave it empty if the page has no footer
footer { z-index: 2; position: relative; }
.footer-content { color: #797979;
	> * { border-bottom: 1px solid $very-light-pink;
		&:last-child { border-bottom: none; }
	}
}
.footer-top { padding-top: 50px; padding-bottom: 30px; }
.footer-bottom { padding-top: 20px; padding-bottom: 50px;
	.fo-co-par { line-height: normal; }
}
.fo-bo-links {
	> li { display: inline-block; padding-left: 5px; padding-right: 7px; border-right: 1px solid #797979;
		&:first-child { padding-left: 0; }
		&:last-child { padding-right: 0; border-right: none; }

		a { color: inherit;
			&:hover { color: $brand-green; }
		}
	}
}

.fo-co-par { min-width: 150px; font-size: 11px; line-height: normal; line-height: 1.55;
	> * {
		&:last-child { margin-bottom: 0; }
	}

	a { @extend .link-inherit; }
}

.fo-co-sns {
	&:not([class*="mt"]) { margin-top: 8px; }
	> li { display: inline-block; vertical-align: middle; margin-right: 15px;
		&:last-child { margin-right: 0; }

		a { display: block; color: #404040;
			&:hover { color: $brand-green; }
		}
	}

	@include breakpoint(tablet2) { font-size: 24px;
		> li { margin-right: 20px; }
	}
}

.fo-to-links { min-width: 150px;
	> li {
		a { @extend .section-header;
			&:hover { color: $brand-green; }
		}
	}
}