// ionclude all your related style here in the header, you can leave it empty if the page has no header
html, body { height:100%; min-height:100%; }
header {}
.header-content { z-index: 200; position: fixed; top: 0; left: 0; width: 100%; transition: background 0.2s ease-in-out;
	> * { padding-top: 15px; padding-bottom: 15px; }

	&.header-absolute { position: absolute; }

	&.header-down, &.header-hovered { background-color: $white; box-shadow: 0 0 30px 0 rgba($black, 0.08);
		.header-main { background-color: $white; }
		.header-bottom { border-top: 1px solid $very-light-pink-two; }
	}

	.header-bottom { display: none; }

	@include breakpoint(tablet) {
		.header-bottom { display: block; position: absolute; top: 0; left: 0; background-color: $white; border-top: none; }
		.logo {
			img { width: auto; max-height: 54px; }
		}
	}
}
.header-main { z-index: 5; position: relative; transition: background 0.2s ease-in-out;
	.menu {
		> ul {
			> li { display: inline-block; vertical-align: middle; margin-right: 40px;
				&:last-child { margin-right: 0; }

				> a { position: relative; display: block; text-transform: uppercase; font-family: $fontA; font-size: 20px; line-height: 1.25; letter-spacing: 2px; color: $defaultColor;
					&:after { opacity: 0; content: ''; display: block; position: absolute; bottom: -8px; left: 50%; width: 0; height: 4px; background-color: $red; @extend .ease2; }
				}

				&:hover, &.active, &.sub-active {
					a {
						&:after { opacity: 1; left: 0; width: 100%; }
					}
				}
			}
		}

		@include breakpoint(laptop) {
			> ul {
				> li { margin-right: 20px; }
			}
		}
		@include breakpoint(tablet) { display: none; }
	}
}

.header-bottom { }
.he-bo-list {
	> * { margin-right: 30px;
		&:last-child { margin-right: 0; }

		@include breakpoint(tablet2) { margin-right: 20px; }
	}
}

.header-menu-sub { z-index: 3; display: none; position: absolute; top: 0; left: 0; width: 100%; padding-top: 0; padding-bottom: 0; border-top: none; background-color: $white; box-shadow: 0 0 30px 0 rgba($black, 0.08); @extend .scrolling-touch;
	@include breakpoint(tablet) { overflow: auto; }

	> .link { display: flex; align-items: center; @extend .section-header;
		[class*="fa"] { margin-right: 10px; font-size: 30px; }
	}
}
.hm-su-set { display: none; padding-top: 50px; padding-bottom: 50px;
	* {
		&:last-child { margin-bottom: 0; }
	}

	> .row {
		> * {
			&[class*="col"] { padding-right: 30px; padding-left: 30px; border-right: 1px solid $very-light-pink-two;
				&:first-child { padding-left: 15px; }
				&:last-child { padding-right: 15px; border-right: none; }
			}
		}

		@include breakpoint(tablet2) { margin-left: 0; margin-right: 0;
			> * {
				&[class*="col"] { padding: 40px 0; border-right: none; border-bottom: 1px solid $very-light-pink-two;
					&:first-child { padding-top: 0; padding-left: 0; }
					&:last-child { padding-bottom: 0; padding-right: 0; border-bottom: none; }
				}
			}
		}
	}

	.row {
		[class*="col"] {
			&:last-child { margin-bottom: 0 !important; }
		}
	}

	@include breakpoint(tablet) { padding-top: 25px; padding-bottom: 40px; }
}

.hs-se-set {
	.bp-img {
		img { min-width: 360px; max-width: 360px; }

		.icon { z-index: 2; display: block; position: absolute; bottom: -28px; left: 16px; @extend .badge-shadow;
			img { min-width: 60px; max-width: 60px; }
		}
	}

	.hs-se-col { min-width: 293px; max-width: 293px; margin-top: 15px; }

	@include breakpoint(desktop) {
		.hs-se-col { min-width: auto; }
	}
	@include breakpoint(tablet) {
		.bp-img {
			img { min-width: 100%; max-width: 100%; }
		}
		.hs-se-col { max-width: 100%; }
	}
	@include breakpoint(tablet2) { }

	&.set-small {
		.bp-img {
			img { min-width: 70px; max-width: 70px; }
		}

		.hs-se-col { min-width: auto; margin-top: 0; }

		&.row { margin-left: -8px; margin-right: -8px;
			[class*="col"] { padding-left: 8px; padding-right: 8px; }
		}

		@include breakpoint(tablet) {
			.bp-img { min-width: auto; max-width: auto; }
			.hs-se-col { margin-top: 0; }
		}

		@include breakpoint(tablet2) {
			&.row { margin-left: -12px; margin-right: -12px;
				[class*="col"] { padding-left: 12px; padding-right: 12px; }
			}
		}
	}

	.callout-small { font-weight: normal; letter-spacing: 2px; }
}
.hs-se-par {
	> * {
		&:last-child { margin-bottom: 0; }
	}
}

.hs-se-auto { max-width: 211px; margin-left: auto; margin-right: auto;
	&.auto-2 { max-width: 360px; }

	@include breakpoint(tablet) { max-width: 100%;
		&.auto-2 { max-width: 100%; }
	}
}

.hs-se-title { @extend .section-header; }

.hs-se-link {
	&:after { content: '\f105'; position: relative; display: inline-block; top: 4px; margin-left: 3px; font-family: $FontAwesome; font-weight: 300; font-size: 26px; line-height: 0; @extend .ease; }

	&:hover {
		&:after { transform: translate3d(7px,0,0); }
	}
}
.hs-se-list {
	> li { margin-bottom: 15px;
		&:last-child { margin-bottom: 0; }

		a { @extend .hs-se-link; }
	}

	@include breakpoint(tablet2) { margin-bottom: 25px;
		> li { margin-bottom: 25px; }
	}
}

.menu-bar { display: none; position: relative; padding: 10px 0 10px 20px; cursor: pointer; transition: width 0.3s ease;
	span { position: relative; display: block; width: 22px; height: 4px; margin: 4px 0; @extend .ease2;
		&:before { content: ''; display: block; position: absolute; top: 0; right: 0; width: 100%; height: 100%; background-color: $black; @extend .ease2; }

		&:nth-child(1) { }
		&:nth-child(2) {
			&:before { width: 80%; }
		}
		&:nth-child(3) {
			&:before { width: 60%; }
		}
	}

	&.active {
		span { width: 28px;
			&:before { width: 100% !important; }

			&:nth-child(1) { transform: rotate(45deg) translate3d(5px,7px,0); }
			&:nth-child(2) { opacity: 0; }
			&:nth-child(3) { transform: rotate(-45deg) translate3d(5px,-7px,0); }
		}
	}

	@include breakpoint(tablet) { display: block; }
}

.menu-mobile-active { height: 100vh; pointer-events: none;
	body { position: relative; pointer-events: none; overflow: hidden; }
	header, .header-contents { pointer-events: auto; }
}

.header-menu-mobile { display: none; position: relative; height: calc(100vh - 83px); padding-top: 0; padding-bottom: 0; overflow: auto; @extend .scrolling-touch;
	> * {
		&:first-child { padding-top: 40px; }
		&:last-child { padding-bottom: 40px; }
	}

	.menu {
		> ul {
			> li { margin-bottom: 40px;
				&:last-child { margin-top: 60px; margin-bottom: 0; }

				> a { display: block; font-family: $fontA; font-size: 20px; line-height: 1.25; letter-spacing: 2px; color: $defaultColor; }

				&.sub {
					> a { position: relative;
						&:after { content: '\f105'; display: block; position: absolute; top: 50%; right: 0; padding-right: 8px; font-size: 30px; font-family: $FontAwesome; font-weight: 300; @extend .bp-centralize; }
					}
				}
			}
		}
	}
}