.link {
	[class*="fa"] { transition: transform 0.5s ease; }

	&:hover {
		.fa-angle-left { transform: translate3d(-7px,0,0); }
	}
}
.link-inherit { color: inherit;
	&:hover { color: $brand-green; }
}
.link-underline { text-decoration: underline; }