.com_list-switcher { position: relative; padding: 4px; background-color: $grey1; border-radius: 32px; overflow: hidden;
	select { display: none; }

	> ul { display: flex; align-items: center;
		> li { display: inline-block; vertical-align: middle;
			> a { z-index: 3; position: relative; display: flex; min-width: 173px; align-items: center; justify-content: center; font-family: $fontA; min-height: 46px; padding: 5px 20px; color: $white; text-transform: uppercase; font-size: 18px; line-height: normal; letter-spacing: 2px;

				@include breakpoint(tablet2) { min-width: 75px; padding-left: 15px; padding-right: 15px; font-size: 16px; }
			}

			&.active {
				> a {  }
			}
		}
	}

	&--indicator { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 32px; box-shadow: 0 4px 8px 0 rgba($black, 0.08); background-color: $brand-slate; }
}