 // this is area is for reserved class
#main-container { height:100%; height: auto !important; min-height:100%; }
.hide { position:relative;}
.ease,a,input[type="submit"],button { transition: all 0.5s ease; }
.ease2 { transition: all 0.3s ease; }
.ease-none { transition: none; }

.auto { margin-left: auto; margin-right: auto;
	&.width-1 { max-width: $maxWidth; }
}

#main-wrapper {
	> .section { @extend .container-fluid;
		&:not([class*="pt"]) { padding-top: 50px; }
		&:not([class*="pb"]) { padding-bottom: 50px; }

		@include breakpoint(tablet2) {
			&:not([class*="pt"]) { padding-top: 30px; }
			&:not([class*="pb"]) { padding-bottom: 30px; }
		}

		// &:first-child { padding-top: 0 !important; }
		// &:last-child { padding-bottom: 0 !important; }

		&.section-large, &[class*="bg"] {
			&:not([class*="pt"]) { padding-top: 114px; }
			&:not([class*="pb"]) { padding-bottom: 114px; }

			@include breakpoint(tablet2) {
				&:not([class*="pt"]) { padding-top: 80px; }
				&:not([class*="pb"]) { padding-bottom: 80px; }
			}
		}
	}
}
.fl { float:left; }
.fr { float:right; }
.clr { display: block; float:none; clear:both; }

.bp-box { @include box-sizing(border-box); }
.bp-rel { position:relative; }
.bp-ab { position:absolute; }

.co-black { color: $black; }
.co-white { color: $white; }
.co-brand-blue { color: $brand-blue; }
.co-charcoal-grey { color: $charcoal-grey; }

.bg-ash { background-color: $ash; }
.bg-orange { background-color: #fff7ee; }

.bg-yellow-gradient { background-image: radial-gradient(circle at 19% -3%, #fffbf6, #fff7ee 39%); }
.bg-blue-gradient { background-color: #e5f3f7; background-image: radial-gradient(circle at 22% 0, #e8f1f3, #e5f3f7 37%); }

.pad-edge { padding-left: 15px; padding-right: 15px; }
.bp-img {
  img { max-width: 100%; height: auto; }
  &.wide img { display: block; width: 100%; }

  &.pull-right { margin-right: -15px; }
}
.bp-nocurve { @include border-radius(0); }
.bp-curve { @include border-radius(5px); }
.bp-circle { @include border-radius(50%); }
.mobile-input { @include appearance(none); border-radius: 0; }
.bp-centralize { transform: translate3d(0, -50%, 0); }
.bp-centralize2 { transform: translate3d(-50%, 0, 0); }
.bp-centralize3 { transform: translate3d(-50%, -50%, 0); }
.no-margin { margin: 0; }
.no-padding { padding: 0; }

.pt1 { padding-top: 10px; }
.pt2 { padding-top: 20px; }
.pt3 { padding-top: 30px; }
.pt4 { padding-top: 40px; }
.pt5 { padding-top: 50px; }
.pt6 { padding-top: 60px; }

.pr1 { padding-right: 10px; }
.pr2 { padding-right: 20px; }
.pr3 { padding-right: 30px; }
.pr4 { padding-right: 40px; }
.pr5 { padding-right: 50px; }

.pb1 { padding-bottom: 10px; }
.pb2 { padding-bottom: 20px; }
.pb3 { padding-bottom: 30px; }
.pb4 { padding-bottom: 40px; }
.pb5 { padding-bottom: 50px; }
.pb6 { padding-bottom: 60px; }

.pl1 { padding-left: 10px; }
.pl2 { padding-left: 20px; }
.pl2 { padding-left: 30px; }
.pl3 { padding-left: 40px; }
.pl4 { padding-left: 50px; }

.mt1 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt2 { margin-top: 20px; }
.mt3 { margin-top: 30px; }
.mt4 { margin-top: 40px; }
.mt5 { margin-top: 50px; }
.mt6 { margin-top: 60px; }
.mt10 { margin-top: 100px; }

.mb1 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb2 { margin-bottom: 20px; }
.mb3 { margin-bottom: 30px; }
.mb4 { margin-bottom: 40px; }
.mb5 { margin-bottom: 50px; }
.mb6 { margin-bottom: 60px; }

@include breakpoint(tablet2) {
	.pt2 { padding-top: 10px; }
	.pt3 { padding-top: 20px; }
	.pt4 { padding-top: 30px; }
	.pt5 { padding-top: 40px; }
	.pt6 { padding-top: 50px; }

	.pb2 { padding-bottom: 10px; }
	.pb3 { padding-bottom: 20px; }
	.pb4 { padding-bottom: 30px; }
	.pb5 { padding-bottom: 40px; }
	.pb6 { padding-bottom: 50px; }

	.mt2 { margin-top: 10px; }
	.mt3 { margin-top: 20px; }
	.mt4 { margin-top: 30px; }
	.mt5 { margin-top: 40px; }
	.mt6 { margin-top: 50px; }
	.mt10 { margin-top: 90px; }

	.mb2 { margin-bottom: 10px; }
	.mb3 { margin-bottom: 20px; }
	.mb4 { margin-bottom: 30px; }
	.mb5 { margin-bottom: 40px; }
	.mb6 { margin-bottom: 50px; }

	.mob-pt0 { padding-top: 0 !important; }
	.mob-pt1 { padding-top: 10px; }
	.mob-pt2 { padding-top: 20px; }
	.mob-pt3 { padding-top: 30px; }
	.mob-pt4 { padding-top: 40px; }
	.mob-pt5 { padding-top: 50px; }

	.mob-pr0 { padding-right: 0; }
	.mob-pr1 { padding-right: 10px; }
	.mob-pr15 { padding-right: 15px; }
	.mob-pr2 { padding-right: 20px; }
	.mob-pr3 { padding-right: 30px; }
	.mob-pr4 { padding-right: 40px; }
	.mob-pr5 { padding-right: 50px; }

	.mob-pb0 { padding-bottom: 0 !important; }
	.mob-pb1 { padding-bottom: 10px; }
	.mob-pb2 { padding-bottom: 20px; }
	.mob-pb3 { padding-bottom: 30px; }
	.mob-pb4 { padding-bottom: 40px; }
	.mob-pb5 { padding-bottom: 50px; }

	.mob-pl0 { padding-left: 0; }
	.mob-pl1 { padding-left: 10px; }
	.mob-pl15 { padding-left: 15px; }
	.mob-pl2 { padding-left: 20px; }
	.mob-pl3 { padding-left: 30px; }
	.mob-pl4 { padding-left: 40px; }
	.mob-pl5 { padding-left: 50px; }

	.mob-mt1 { margin-top: 10px; }
	.mob-mt2 { margin-top: 20px; }
	.mob-mt3 { margin-top: 30px; }
	.mob-mt4 { margin-top: 40px; }
	.mob-mt5 { margin-top: 50px; }
	.mob-mt6 { margin-top: 60px; }

	.mob-mb0 { margin-bottom: 0; }
	.mob-mb1 { margin-bottom: 10px; }
	.mob-mb15 { margin-bottom: 15px; }
	.mob-mb2 { margin-bottom: 20px; }
	.mob-mb3 { margin-bottom: 30px; }
	.mob-mb4 { margin-bottom: 40px; }
	.mob-mb5 { margin-bottom: 50px; }
}
// you can include here the rest of your class name eg. home page
.scrolling-touch { overflow-scrolling: touch; -webkit-overflow-scrolling: touch; }
.no-wrap { white-space: nowrap; }

.container-fluid { padding-left: 15px; padding-right: 15px;
	@include breakpoint(lg) { padding-left: 40px; padding-right: 40px; }
}

.container { max-width: $maxWidth; padding-left: 0; padding-right: 0; }

/** for inview animation **/
.animate, .anim-content, .animated { opacity: 0; }
.animated.visible, .anim-content.visible { animation-fill-mode: forwards; }
.anim-content.visible { animation: animRun 0.5s ease forwards; }
@keyframes animRun {
	0% { opacity: 0; transform: translateY(40px); }
	100% { opacity: 1; transform: translateY(0); }
}

// for backgrounds
.bp-banner { background-position: 50% 50%; background-repeat: no-repeat;
	&.bp-ab { top: 0; left: 0; width: 100%; height: 100%; }
	&.cover { background-size: cover; }
}
.parallax { background-attachment: fixed; overflow: hidden; @extend .bp-banner; }

.section-title {
	&:not([class*="mb"]) { margin-bottom: 88px; }

	&.d-flex {
		> * { margin-right: 20px;
			&:last-child { margin-right: 0; }
		}

		@include breakpoint(tablet2) {
			> * { margin-right: 15px; }
			img { max-width: 60px; }
		}
	}

	@include breakpoint(tablet2) {
		&:not([class*="mb"]) { margin-bottom: 60px; }
	}
}

.se-pa-title {
	@include breakpoint(tablet2) { position: relative; width: 183px; max-width: 183px; margin-top: -36px; margin-left: -15px; padding-top: 15px; padding-right: 15px; padding-left: 15px; background-color: $white;
		&:not([class*="mb"]) { margin-bottom: 8px !important; }
	}
}

.section-par {
	> * {
		&:not([class*="mb"]) { margin-bottom: 15px; }
		&:last-child { margin-bottom: 0; }
	}
}

p {
	.emoji { max-width: 20px; vertical-align: sub; }
}

.box-shadow { box-shadow: 0 0 20px 0 rgba($black, 0.05); transition: box-shadow 0.5s ease;
	&:hover, &.active { box-shadow: 0 5px 30px 0 rgba($black, 0.08); }
}

// for rows
.row {
	@include breakpoint(lg) {
		&.row-large { margin-left: -50px; margin-right: -50px;
			> [class*="col"] { padding-left: 50px; padding-right: 50px; }
		}
	}

	[class*="col-custom"] { @extend .col; }
	.col-custom-10 { max-width: 487px; }
	.col-custom-11 { max-width: 1072px; }

	@include breakpoint(md) {
		.col-custom-md-10 { max-width: 487px; }		
	}
}

.badge-shadow { box-shadow: 0 0 20px 0 rgba($black, 0.08); }

.list-tick {
	> li { padding-left: 15px + 14px; margin-bottom: 15px;
		&:before { content: '\f00c'; position: relative; display: inline-block; left: -14px; margin-left: -14px; font-family: $FontAwesome; font-weight: bold; font-size: 14px; }
		&:last-child { margin-bottom: 0; }
	}
}