.com_masthead { position: relative; padding-top: 0 !important; padding-left: 0 !important; padding-right: 0 !important;
	.container { min-height: 656px;
		&:not([class*="pt"]) { padding-top: 157px; }

		@include breakpoint(tablet) { min-height: 550px;
			&:not([class*="pt"]) { padding-top: 105px; }
		}
		@include breakpoint(tablet2) { min-height: 497px; }
	}
}
.com_masthead-par { z-index: 3; position: relative; padding-bottom: 65px;
	&.bp-ab { left: 0; }

	h1 { font-size: 64px; line-height: 1.0;
		&:not([class*="mb"]) { margin-bottom: 15px; }
	}

	@include breakpoint(tablet2) { padding-bottom: 35px;
		h1 { font-size: 46px; line-height: 1.09; }
	}
}
.com_masthead-banner { max-width: 848px;
	&.bp-ab { bottom: 0; right: 0; }
	img { display: block; }
}