.st-fe-list {
	> li { @extend .mb4;
		&:last-child { margin-bottom: 0; }
	}

	@include breakpoint(tablet2) {
		> li { margin-bottom: 25px; }
	}
}

.st-fe-set { display: flex; align-items: center;
	> * { padding-left: 25px; padding-right: 25px;
		&:first-child { padding-left: 0; }
		&:last-child { padding-right: 0; }
	}

	* {
		&:last-child { margin-bottom: 0; }
	}

	@include breakpoint(tablet2) {
		> * { padding-left: 8px; padding-right: 8px; }
	}
}

.st-fe-circle { position: relative; display: flex; align-items: center; justify-content: flex-start; width: 140px; height: 140px; padding: 20px 10px 20px 22px; background-color: $defaultColor; color: $white; @extend .bp-circle;
	.icon { z-index: 3; display: block; position: absolute; top: 0; right: -7px; width: 48px; font-size: 48px;
		img { display: block; }
	}

	.callout-small {
		span { @extend .callout-big; }
	}

	@include breakpoint(tablet2) { width: 104px; height: 104px; padding: 20px 15px;
		.icon { right: 0; width: 32px; font-size: 32px; }
	}

	@include breakpoint(mobile3) { width: 95px; height: 95px; }
}

.st-fe-box { padding: 40px; background-color: $ash;
	@include breakpoint(tablet2) { padding: 20px 15px; }
}

.st-fe-slider { position: relative; display: flex; padding-bottom: 15px;
	> * { width: 100%;
		&.img-slider { min-width: 140px; max-width: 140px; }
		&.desc-slider { width: calc(100% - 140px); background-color: $white; box-shadow: 0 4px 8px 0 rgba($black, 0.08); }

		@include breakpoint(desktop) {
			&.img-slider { position: absolute; top: 0; left: 0; min-width: 88px; max-width: 88px; }
			&.desc-slider { width: calc(100% - 15px); margin-top: 15px; margin-left: 15px; padding-left: calc(88px - 15px); }
		}
	}

	.flex-control-paging li a { width: 8px; height: 8px; background-color: transparent; border: 1px solid $brand-slate; box-shadow: none;
		&:hover, &.flex-active { background-color: $brand-slate; }
	}

	> .flex-control-nav { top: 100%; bottom: inherit; text-align: left;
		li { margin: 0 8px 0 0;
			&:last-child { margin-right: 0; }
		}

		@include breakpoint(desktop) { left: 15px; }
	}

	> .flex-direction-nav { position: absolute; top: 100%; right: 0; width: auto; margin-top: -15px;
		> li { display: inline-block; margin-left: 10px; margin-right: 10px;
			&:first-child { margin-left: 5px; }
			&:last-child { margin-right: 5px; }
		}

		.flex-prev { left: 0; }
		.flex-next { right: 0; }

		a { opacity: 1; display: block; position: relative; width: auto; height: auto; margin: 0; text-shadow: none; line-height: normal; font-size: 30px;
			&:before { content: '\f104'; text-shadow: none; font-family: $FontAwesome; font-size: inherit; font-weight: 300; line-height: inherit; }

			&.flex-next:before { content: '\f105'; }
		}
	}
}

.sf-sl-set { padding: 24px;
	> * { margin-bottom: 8px;
		&:last-child { margin-bottom: 0; }
	}

	@include breakpoint(tablet2) { padding: 15px 20px; }
}

.st-ba-wide-box { z-index: 5; position: relative; min-height: 144px; padding: 40px; background-color: $brand-slate; color: $white;
	* { color: inherit; }

	h5 { font-size: 20px; line-height: 1.6; }

	> * { z-index: 2; position: relative; margin-right: 50px;
		&:last-child { margin-right: 0; }

		> * { margin-right: 30px;
			&:last-child { margin-right: 0; }

			@include breakpoint(tablet2) { margin-right: 0; margin-bottom: 15px;
				&:last-child { margin-bottom: 0; }
			}
		}

		&[class*="xl"] {
			> * { margin-bottom: 15px; margin-right: 0; }

			@include breakpoint(xl) {
				> * { margin-bottom: 0; margin-right: 30px;
					&:last-child { margin-right: 0; }
				}
			}
		}
	}

	a {
		&:hover { color: inherit; }
	}

	.box-caption {
		&.caption-short { max-width: 275px; }
	}

	&.box-pull-top { margin-top: -50px; }
	&.box-pull-top-2 { margin-top: -80px; }

	@include breakpoint(tablet) { padding: 15px; }

	@include breakpoint(tablet2) {
		> * { margin-right: 0; }

		h5 { font-size: 16px; line-height: 1.63; }

		&.mob-pull-top-0 { margin-top: 0; }
	}

	&.box-v1 { padding-left: 205px + 40px + 50px;
		@include breakpoint(tablet2) { padding-left: 150px + 15px;
			.st-ba-img { min-width: 150px; }
		}
		@include breakpoint(mobile) { padding-left: 15px;
			.st-ba-img { bottom: 15px + 53px; width: 95px; min-width: 0;
				img { width: 100%; }

				+ div { padding-left: 84px + 15px; }
			}
		}
	}

	&.box-v2 { padding-right: 150px + 40px + 50px;
		@include breakpoint(desktop) {
			.box-caption.caption-short { max-width: 100%; }
			> * {
				&[class*="flex"] { display: block !important;
					> * { margin-bottom: 15px;
						&:last-child { margin-bottom: 0; }
					}
				}
			}
		}
		@include breakpoint(tablet2) { padding-right: 150px + 15px; margin-top: -110px; }
		@include breakpoint(mobile) { padding-right: 15px;
			.box-caption { padding-right: 120px; }

			> * {
				> div { padding-right: 120px; }
			}
		}
	}

	&.box-v3 {
		.st-ba-img { text-align: right; }

		@include breakpoint(md) { padding-right: 21%; }
		@include breakpoint(lg) { padding-right: 24%; }
		@include breakpoint(xl) { padding-right: 130px; }

		@include breakpoint(tablet2) {
			.st-ba-img { top: -32px; bottom: inherit; }
		}
		@include breakpoint(mobile) {
			.box-caption { max-width: 190px; }
		} 
	}

	&.box-v4 { padding-left: 123px + 40px + 40px;
		.st-ba-img { text-align: left; }

		@include breakpoint(tablet) { top: 25px; }
		@include breakpoint(tablet2) { top: 0; padding-left: 123px + 15px + 15px + 10px; }
		@include breakpoint(mobile) { padding: 20px 15px;
			.st-ba-img { left: 5px;
				[class*="pl"] { padding-left: 0; }
			}
			.box-caption { padding-left: 123px + 10px; }
		}
	}
}

.st-ba-img { z-index: 1; position: relative; min-width: 205px; text-align: center;
	img { min-width: 114px; }

	&.bp-ab { position: absolute; }
	&.bottom { bottom: 0; }
	&.right { right: 0; }
	&.left { left: 0; }

	@include breakpoint(tablet2) { min-width: 190px;
		&.right { right: 0; }
		&.left { left: 0; }
	}
	@include breakpoint(mobile) {
		img { min-width: 0; }
	}
}

.wide-box-push-bottom { padding-bottom: 50px; }
.section {
	&.wide-box-push-bottom { padding-bottom: 160px;
		@include breakpoint(tablet2) { padding-bottom: 200px; }
	}
}

.st-pr-set {
	.st-pr-img { min-width: 166px; max-width: 166px; }
	.section-par { margin-top: 23px; }

	@include breakpoint(tablet2) { align-items: flex-end;
		&.row { margin-left: -10px; margin-right: -10px; }
		[class*="col"] { padding-left: 10px; padding-right: 10px; }
		.product-header, h5 { margin-bottom: 0 !important; }

		+ div { margin-top: 15px; }
	}

	@include breakpoint(mobile) {
		.st-pr-img { min-width: 145px; max-width: 145px; }
	}
}
.st-pr-img { position: relative;
	.icon { z-index: 2; display: block; position: absolute; bottom: -28px; left: 16px; @extend .badge-shadow; }

	@include breakpoint(tablet2) {
		.icon { top: 32px; right: -20px; bottom: inherit; left: inherit;
			img { width: 40px; }
		}
	}
}

.st-bl-list { }
.st-bl-set { background-color: $white; @extend .box-shadow;
	.section-header { margin-bottom: 8px; }
}
.st-bl-par { padding: 30px; padding-bottom: 40px;
	@include breakpoint(tablet2) { padding: 15px; padding-bottom: 30px; } 
}

.st-do-title { padding: 30px 40px; background-color: $charcoal-grey; color: $white; @extend .field-text, .ease2;
	&:hover, &.active { background-color: darken($charcoal-grey, 5%); }
}
.st-do-list {
	> li { margin-bottom: 15px;
		&:last-child { margin-bottom: 0; }

		.com_accordion-title { position: relative; @extend .st-do-title;
			&:after { content: '\f067'; display: block; position: absolute; top: 50%; right: 40px; font-family: $FontAwesome; font-weight: 300; font-size: 20px; @extend .bp-centralize; }
		}
		.com_accordion-title, .com_accordion-content { padding: 30px 40px; }

		.com_accordion-content { background-color: $white; }

		&:hover {
			.st-do-title { @extend .st-do-title.active; }
		}

		&.selected {
			.com_accordion-title:after { content: '\f068'; }
		}

		@include breakpoint(tablet2) {
			.com_accordion-title, .com_accordion-content { padding: 15px; }
			.com_accordion-title { padding-right: 45px;
				&:after { right: 15px; font-size: 14px; }
			}
		}
	}
}

.com_bottom-arrow { position: absolute; top: 100%; left: 0; width: 100%;
	> span { display: block; @extend .container;
		&:before { content: ''; position: relative; display: inline-block; left: 75px; width: 0; border-top: 19px solid $ash; border-right: 20px solid transparent; }
	}
}

.st-fe-banner { z-index: 3;
	&.banner-card {
		img { z-index: 2; position: relative; max-width: 196px; }

		&.bottom { bottom: -35px; }
		&.right { right: -15px; }

		&:after { content: ''; display: block; position: absolute; bottom: 0; left: 50%; width: 70%; height: 50%; border-radius: 50px; box-shadow: 0 10px 10px rgba($black, 0.2); @extend .bp-centralize2; }

		@include breakpoint(tablet2) {
			img { max-width: 112px; }

			&.right { left: 168px; right: inherit; }
			&.bottom { bottom: -1px; }
		}
	}

	&.bp-ab { }
	&.bottom { bottom: 0; }
	&.right { right: 0; }
}