.theme {
	&-gradient-orange { background-color: $brand-orange; background-image: radial-gradient(circle at 27% -25%, #fdcf9d, $brand-orange 35%); }
	&-gradient-blue { background-color: $brand-blue; background-image: radial-gradient(circle at 21% -26%, #c0d7dd, $brand-blue 30%); }

	&-blue {
		.section-title {
			h2 { color: $brand-blue; }
		}

		.st-fe-circle { background-color: $brand-blue; background-image: linear-gradient(134deg, #a9cfd7 14%, #6eabb9 86%); }

		.st-fe-box { background-color: $brand-blue;
			> .product-header { color: $brand-blue; }
		}

		.st-ba-wide-box { background-image: linear-gradient(101deg, #85c1e4 16%, #d1f2fb 91%); }

		.list-tick {
			> li {
				&:before { color: $brand-blue; }
			}
		}
	}

	&-red {
		.section-title {
			h2 { color: $brand-red; }
		}

		.st-fe-circle { background-color: $brand-red; background-image: linear-gradient(142deg, #fabab3 8%, $brand-red 90%); }

		.st-fe-box { background-color: #ffe9e7;
			> .product-header { color: $brand-red; }
		}

		.st-ba-wide-box { background-image: linear-gradient(101deg, #f79891 16%, #fcc9c4 91%); }

		.list-tick {
			> li {
				&:before { color: $brand-red; }
			}
		}
	}

	&-red-2 {
		.st-ba-wide-box { background-image: radial-gradient(circle at 25% -48%, #fcc9c4, #f79891 48%, #f79891 48%); }
	}

	&-orange {
		.section-title {
			h2 { color: $brand-orange; }
		}

		.st-ba-wide-box { background-image: radial-gradient(circle at 18% -29%, #ffca93, $brand-orange 42%); }

		.list-tick {
			> li {
				&:before { color: $brand-orange; }
			}
		}
	}

	&-pink {
		.st-ba-wide-box { background-image: linear-gradient(101deg, #e57c8b 16%, #f4b3bf 91%); }

		.list-tick {
			> li {
				&:before { color: #e57c8b; }
			}
		}
	}
}

.text-white {
	* { color: inherit; }
}