.com_timeline-slider {
	.nav-slider { @extend .section-header;
		> ul { display: flex; justify-content: space-between;
			> li { opacity: 0.5; display: flex; align-items: center; cursor: pointer; transition: opacity 0.5s ease;
				> * { margin-right: 10px;
					&:last-child { margin-right: 0; }
				}

				&:hover { opacity: 1; }
				&.active { opacity: 1; cursor: default; }
			}
		}
	}
	.main-slider {
		> ul {
			> li { display: block; }
		}
	}

	.nav-slider-bar { position: relative; width: 100%; height: 8px; margin-top: 15px; background-color: rgba($brand-slate, 0.7); border-radius: 4px; pointer-events: none;
		> span { display: block; position: absolute; top: -24px; left: 0; width: 80px; height: 80px; margin-left: -17px; background: url('../img/indicator@2x.png') no-repeat center; background-size: 100% 100%; }
	}
}