// includes all tags for paragraphs and titles such as header, p, span
body { font-size: 16px; line-height: 1.63; color: $defaultColor; font-weight: normal; font-stretch: normal; font-style: normal; letter-spacing: normal; }
small { font-size: 12px; line-height: 1.67; }

h1, h2, h3, h4 { font-family: $fontA; font-weight: normal; }
h1, h2, h3, h4, h6 { color: rgba($brand-slate, 0.9); }
// h5, p { color: $brand-slate; }
h5, h6 { font-family: $fontB; }

h1 { opacity: 0.9; font-size: 72px; line-height: 0.97; }
h2 { font-size: 48px; line-height: 1.08; }
h3 { font-size: 38px; line-height: 1.11; }
h4 { font-size: 32px; line-height: 1.06; }
h5 { font-size: 24px; line-height: 1.17; font-weight: bold; }
h6 { font-size: 18px; line-height: 1.78; letter-spacing: -0.5px; }

.fw-400 { font-weight: normal; }
.fw-700 { font-weight: bold; }

.section-header { font-family: $fontA; font-size: 16px; font-weight: normal; line-height: 1.19; letter-spacing: 2px; color: rgba(74, 83, 81, 0.8); }
.product-header { font-family: $fontA; font-size: 18px; font-weight: normal; letter-spacing: 2px; color: rgba(74, 83, 81, 0.6); }
.field-text { font-family: $fontA; font-size: 26px; line-height: 1.15; letter-spacing: 2px; color: rgba($brand-slate, 0.9); }
.callout-big { font-family: $fontA; font-size: 40px; line-height: 1; }
.callout-small { font-family: $fontA; font-size: 20px; line-height: 1.1; }

.caption { color: $very-light-pink-two; }

@include breakpoint(tablet2) {
	body { font-size: 14px; line-height: 1.57; }
	small { font-size: 12px; line-height: 1.33; }

	h1 { font-size: 46px; line-height: 1.09; }
	h2 { font-size: 38px; line-height: 1.11; }
	h3 { font-size: 32px; line-height: 1.06; }
	h4 { font-size: 28px; line-height: 1.07; }
	h5 { font-size: 20px; line-height: 1.4; }
	h6 { font-size: 14px; line-height: 1.57; }

	.section-header { font-size: 14px; line-height: 1.21; }
	.product-header { font-size: 16px; }
	.field-text { font-size: 20px; line-height: 1.1; }
	.callout-big { font-size: 30px; }
	.callout-small { font-size: 14px; line-height: 1; }
}