// include all templated CSS properties here such as font sizes, margin, padding, color, background color, etc

// for width
$maxWidth   : 1140px; // can be use as max width of the container

// for fonts
$defaultFont		: 'LibreBaskerville', 'Helvetica', 'Calibri'; // default font families and error support for any html tags
$fontA      		: 'BebasNeue', 'Helvetica', 'Calibri';
$fontB				: 'LibreBaskerville', 'Helvetica', 'Calibri';
$FontAwesome		: 'Font Awesome 5 Pro';

// for colors
$defaultColor     		: #4a5351; // default color for the independent paragraphs, input fields, etc
$black			  		: #000000;
$white			  		: #ffffff;
$brand-slate	  		: #4a5351;
$very-light-pink		: #ebebeb;
$very-light-pink-two	: #cbcbcb;
$ash					: #f4f4f4;
$brand-blue 			: #8db8c2;
$brand-red  			: #f2847c;
$brand-orange  			: #fbb161;
$brand-green  			: #66c0a1;
$red 		  			: #cd1d1e;
$grey1 		  			: #c3c5c5;
$charcoal-grey 			: #5a6260;